# Ignore everything inside vm/
vm/*

# But allow firecracker directory itself
!vm/firecracker/

# Ignore everything inside firecracker
vm/firecracker/**

# But allow a placeholder file to keep the directory in Git
!vm/firecracker/.gitkeep
